.App {
  text-align: center;
}



.dark-mode {
 width: 100%;
 height: 1000px;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.light-mode button {
  cursor: pointer;
  background-color: rgb(209, 51, 190);
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;


}

.dark-mode button {
  cursor: pointer;
  background-color: rgb(222, 193, 218);
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;


}
input[type="text"] {
  width: 50%;
  height: 30px;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.content {
  margin: 20px;
}

.review-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e9e7e7;
  color: #333;
  border-radius: 4px;
  width: 100%;

  
}

.review-item p {
  margin: 5px 0;
  display: flex;
}

.date_review {
  top: 10px;
  font-size: 16px;
}

.review-item i {
  cursor: pointer;
  color: #ff0000;
  margin-left: 60%;
}

.div_content {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  word-wrap: break-word;
}

.form_review {

  margin-bottom: 10px;
  padding: 10px;
  background-color: #e9e7e7;
  color: #333;
  border-radius: 4px;
  width: 230px;

}

.content {
  display: flex;
  gap: 30px;
}

.search {
margin-top: 30px;

}


